body{
    background-color: #f0f0f0;
}
.login-div{
    margin:300px auto;
    width: 400px;
}
.login-div .ant-card-head{
    text-align: center;
}
.login-div span.ant-input-affix-wrapper{
    margin: 10px 0;
}
.login-btn{
    margin: 10px 0;
}